@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");

body {
    font-family: "Noto Sans KR", sans-serif;
}

b {
    font-weight: 400;
}

.date {
    font-size: 1rem;
}

.Dust {
    text-align: center;
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 100;
    font-size: 2rem;
    margin-bottom: 20px; /* 아래 여백 추가 */
}

.flex {
    display: flex;
    margin: 0 auto;
    width: 80%;
    justify-content: center;
}

.flex p {
    text-align: center;
    margin: 10px; /* 각 항목 사이 여백 추가 */
    flex: 1; /* 각 항목이 동일한 너비를 가지도록 설정 */
}

.pollution-info {
    border: 1px solid #ccc; /* 테두리 추가 */
    border-radius: 8px; /* 모서리 둥글게 */
    padding: 15px; /* 내부 여백 */
    margin: 20px auto; /* 상하 여백 20px, 좌우 자동으로 중앙 정렬 */
    background-color: #f9f9f9; /* 배경색 */
    text-align: center; /* 전체 내용 중앙 정렬 */
    width: 80%; /* 전체 너비의 80%로 설정 */
    max-width: 600px; /* 최대 너비 설정 (선택 사항) */
}

.station-name {
    font-weight: 500; /* 측정소 이름 두껍게 */
    margin-bottom: 15px; /* 아래 여백 추가 */
}

.co-area, .no2-area, .pm10-area, .pm25-area, .so2-area, .o3-area {
    background-color: #FFFF00;
}
