@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");

body {
    font-family: "Noto Sans KR", sans-serif;
}

.loading {
    text-align: center;
    font-size: 1.5rem;
    margin-top: 20px;
}

.error {
    color: red;
    text-align: center;
    font-size: 1.5rem;
    margin-top: 20px;
}

.AirQuality-info {
    border: 1px solid #ccc; /* 테두리 추가 */
    border-radius: 8px; /* 모서리 둥글게 */
    padding: 15px; /* 내부 여백 */
    margin: 20px auto; /* 상하 여백 20px, 좌우 자동으로 중앙 정렬 */
    background-color: #f9f9f9; /* 배경색 */
    text-align: center; /* 전체 내용 중앙 정렬 */
    width: 80%; /* 전체 너비의 80%로 설정 */
    max-width: 600px; /* 최대 너비 설정 (선택 사항) */

    .Dust {
        font-weight: bold; /* 글자 두께를 굵게 설정 */
        font-size: 2rem;
        margin-bottom: 20px; /* 아래 여백 추가 */
    }

    .flex {
        display: flex;
        justify-content: space-between; /* 좌우로 나란히 배치 */
        margin-top: 20px; /* 상단 여백 추가 */

        .p {
            font-size: 1.5rem; /* 글자 크기 조정 */
            font-weight: 700; /* 글자 두께를 굵게 설정 */
        }
        

        .air-quality-item {
            text-align: center; /* 텍스트 중앙 정렬 */
        }
    }

    .status {
        text-align: center; /* 상태 텍스트 중앙 정렬 */
        font-weight: bold; /* 글씨 두껍게 */
        margin-top: 10px; /* 상단 여백 추가 */
    }
}